@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }
  

.bgImg {
    background-image: url('../../public/img/Background.png');
    background-size: cover;
    width: 100%;
    height: 100vh;
}