@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.input::placeholder {
  color: #883b0a;
}

.box-shadow {
  box-shadow: 0px 0px 13px 0px rgba(147, 145, 145, 0.25);
}

body {
  background-color: #F5EEDC;
}

/* search styles */

.react-autosuggest__container {
  position: relative;
  width: 100%;
  color: #883B0A;
  background: #F5EEDC;
}

.react-autosuggest__input {
  width: 100%;
  height: 50px;
  padding: 10px 20px;
  color: #883B0A;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #883B0A;
  border-radius: 4px;
  background: #F5EEDC;

}

.react-autosuggest__input::placeholder {
  color: #883B0A;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 100%;
  border: 1px solid #883B0A;
  background-color: #F5EEDC;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  max-height: 250px;
  overflow-y: auto;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #883B0A1A;
  ;
}


.react-autosuggest__section-container {
  border-top: 1px dashed #ccc;
}

.react-autosuggest__section-container--first {
  border-top: 0;
}

.react-autosuggest__section-title {
  padding: 10px 0 0 10px;
  font-size: 12px;
  color: #777;
}


